<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Helpdesk</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="~/Content/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Helpdesk
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Moje zgłoszenia", "Index", "Orders", null, htmlAttributes: new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Kontakt", "Contact", "Home", null, htmlAttributes: new { @class = "nav-link" })
                </li>
            </ul>

            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown navbar-right">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Administracja
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink("Raporty", "ReportIndex", "Orders", null, htmlAttributes: new { @class = "dropdown-item" })
                            @Html.ActionLink("Użytkownicy", "ReportIndex", "Orders", null, htmlAttributes: new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Ustawienia", "ReportIndex", "Orders", null, htmlAttributes: new { @class = "dropdown-item" })
                        </div>
                    </li>
                </ul>
            </div>




            <span class="navbar-text">
                <p class="nav navbar-text navbar-right">Witaj, @User.Identity.Name!</p>
            </span>
        </div>
    </nav>

    <br />
    <br />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Departament Informatyki</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
