@model helpdesk.Models.Order

@{
    ViewBag.Title = "Delete";
}
<h3>Anulować zgłoszenie?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Zgłoszenie nr @Html.DisplayFor(model => model.OrderId)
        </dt>
    </dl>

    @*<div class="form-group">
        @Html.LabelFor(model =>Model., htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.OrderComments.Select(p=>p.Text), new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OrderComments.Select(p=>p.Text), "", new { @class = "text-danger" })
        </div>
    </div>*@

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Potwierdź" class="btn btn-default" /> |
            @Html.ActionLink("Anuluj", "Index")
        </div>
    }
</div>
