@model helpdesk.Models.OrderComment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderCommentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
